{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "bracketSameLine": true,
    "arrowParens": "always",
    "insertPragma": false,
    "endOfLine": "lf",
    "bracketSpacing": true
}